* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

.header {
  background: #fff;
  /* border: 5px solid black; */
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  /* border: 5px solid black; */

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: #0061ff;
    }

    &:hover .btn {
      color: white;
    }
  }
}
.menu {
  display: flex;
  gap: 1.5rem;
  /* border: 5px solid black; */
}
.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* border: 5px solid black; */
}
.btn {
  background: #0061ff;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

/* SEC1 */

.sec1 {
  background-color: lightblue;
  padding: 4rem 0;
  height: 800px;
}

.sec1-cont {
  display: flex;
  margin-top: 2rem;
  width: 100%;

  align-items: center;
  /* border: 10px solid black; */
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  width: 80%;
  /* border: 10px solid black; */
  font-size: 40px;
  padding-left: 1rem;
}

.sec1-btn {
  background: #0061ff;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.sec1 img {
  flex: 1;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1-text {
  display: flex;
  /* border: 10px solid black; */
  margin: 1rem 1rem;
  max-width: 400px;
  flex-direction: column;
  gap: 2rem;
  font-size: 20px;
  margin-right: 10rem;
  margin-left: 0;
}

/* .jumbo img {
  display: flex;
  width: 800px;
  height: 400px;
  border: 10px solid black;
} */
